@{
    ViewData["Title"] = "About Working Out";
}

<div class="container py-5">
    <div class="mb-5">
        <h1 class="h5 fw-bold d-flex align-items-center gap-2">
            <img src="/images/muscle.png" alt="Muscle icon" class="title-icon" />
            About Working Out
        </h1>

        <p class="lead text-muted">
            Working out is a physical activity that improves physical health, mental wellness, and self-discipline. It consists of strength training, cardio, recovery work, and many other forms of exercise.
        </p>
    </div>


    <div class="row g-4">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-body">
                    <h2 class="h4 fw-bold">
                        Benefits of Working Out
                    </h2>

                    <ul class="mt-3">
                        <li>
                            Helps maintain or lose weight
                        </li>
                        <li>
                            Reduce health risks such as Cardiovascular Disease, Type 2 Diabetes and Metabolic Syndrome, Infectious diseases, and some cancers
                        </li>
                        <li>
                            Improves bone and muscle strength
                        </li>
                        <li>
                            Reduces the risk of injuries from falls
                        </li>
                        <li>
                            Helps you perform daily activities better
                        </li>
                        <li>
                            Increases life expectancy 
                        </li>
                        <li>
                            Helps manage chronic conditions and disabilities
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card h-100 shadow-sm border-0">
            <div class="card-body">
                <h2 class="h4 fw-bold">
                    Types of Exercise
                </h2>
                <ul class="mt-3">
                    <li>
                        Strength/Resistance Training
                    </li>
                    <li>
                        Cardio
                    </li>
                    <li>
                        Flexibility
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>