@{
    ViewData["Title"] = "About the Creators";
}

<div class="container py-5">
    <div class="mb-5 text-center">
        <h2 class="h4 fw-bold d-flex align-items-center justify-content-center gap-2 mb-3">
            About the Creators
        </h2>

        <p class="lead text-muted mx-auto">
            Meet the team members behind the Working Out Hub project and learn about their roles.
        </p>
    </div>

    <div class="row g-4">
        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-body">
                    <h2 class="h4 fw-bold">
                        Shrutika Ubnare
                    </h2>

                    <p class="text-muted">
                        I am a 4th year student at the University of Cincinnati majoring in Information Technology.
                    </p>

                    <p>
                        <strong>Contribution:</strong>
                        Built the Home, About Working Out, About the Creators pages and helped improve the site's design.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-body">
                    <h2 class="h4 fw-bold">
                        Nathaniel Osterfeld
                    </h2>

                    <p class="text-muted">
                        I am a 3rd year student at the University of Cincinnati majoring in Information Technology.
                    </p>

                    <p>
                        <strong>Contribution:</strong>
                        Built the auth and login as well as the progress tracker.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-body">
                    <h2 class="h4 fw-bold">
                        Ethan Zins
                    </h2>

                    <p class="text-muted">
                        I am a 2nd year student at the University of Cincinnati majoring in Information Technology.
                    </p>

                    <p>
                        <strong>Contribution:</strong>
                        Built the Routines and Equipments pages.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



